.m-jx3data-list{
    list-style: none;
    padding:0;
    margin:0;

    li{
        border-bottom:1px solid #eee;
        &:hover{
            background-color:@bg-light;
        }
        .clearfix;
        .db;
        padding:12px 0 8px 0;
    }

    .u-author{
        .fr;
        .db;
        // margin:8px 10px;
        .none;
    }

    .u-avatar{
        .size(24px);
        .r(4px);
        .db;
    }

    .u-feeds{
        
    }

    .u-feed{
        // .fl;
        // margin:8px 10px 8px 2px;
        .dbi;
        .y(top);

        .w-mark{
            .mr(10px);
            .ps;
            .dbi;
            .clearfix;
            .pointer;

            .w-mark-value{
                padding-left:7px;
                padding-right:8px;
                font-weight: normal;
            }
        }
    }

    .u-title{
        color:@color;
        .db;
        .nobreak;
        &:hover{
            color:@primary;
        }
        .fz(16px,32px);
        font-weight:300;
        .fl;
    }

    .u-tags{

    }
    .u-tag{
        background-color:#f2f6fc;
        color:#637a9c;
        // background-color:#eee;
        // color:#888;
        .fz(12px);
        font-style:normal;
        .mr(5px);
        .r(3px);
        padding:2px 5px;
    }

    .u-update{
        .fr;
        .fz(12px);
        color:#888;
    }

    .u-view{
        .fr;
    }

    
}

.m-jx3dat-label{
    .db;
    background-color:@bg-gray;
    .r(4px);
    padding:8px 10px;
    .fz(14px);
    .mb(10px);

    .u-order{
        .fr;
    }
}

@media screen and (max-width:@phone){
    .m-jx3data-list{
        // .u-author{
        //     .fl;
        // }
        // .u-feed,.u-update{
        //     .none;
        // }
        // .u-title{
        //     max-width:80%;
        // }
    }
}