.m-nav {
    .u-title {
        padding: 10px 15px;
        border-bottom: 1px solid #eee;
        margin:0;
    }
}
.m-nav-group {
    margin-top:5px;
    margin-bottom:10px;
    i{
        .mr(8px);
        .fz(16px);
    }
    a {
        .db;
        // border-bottom: 1px solid #eee;
        .fz(14px, 32px);
        padding: 5px 25px;
        color: #555;
        svg,img{
            .y(-3px);
            .mr(5px);
            fill:#555;
            .size(16px);
        }

        .u-fav,.u-pass,.u-user,.u-avatar{
            .size(14px);
            .y(-2px);
        }
        .u-blank{
            .mt(7px);
            .fr;
            .size(12px);
        }

        &:hover {
            // background-color: #fff;
            color:@darkblue;
            svg{fill:@darkblue;}
        }

        border-top:1px solid transparent;
        border-bottom:1px solid transparent;
    }
    .router-link-exact-active,.on {
        background-color: #fff;
        color:@darkblue;
        svg{fill:@darkblue;}
        .bold;
        border-top:1px solid #eee;
        border-bottom:1px solid #eee;
    }
}

.m-nav-dbm{
    .db;
    margin:20px;
    svg{
        .size(32px);
        fill:@color;
        .fl;
        .mr(10px);
        .mt(5px);
    }
    color:@color;
    span{
        .fz(12px);
        color:#999;
        .db;
    }
    b{
        .fz(14px,2);
        .db;
    }
    border:1px solid @color-link;
    padding:10px;
    .r(3px);
    background-color:#fff;
    &:hover{
        background-color:#f2f6fc;
    }
}