.m-jx3dat-plugins{
    .m-archive-filter{.none;}

    .m-jx3dat-search{
        .mb(20px);
    }
}

.m-plugins-header{
    .w-filter-order{
        .pa;.rb(0,15px);
    }
    border-bottom: 1px solid @border-hr;
    padding-bottom: 10px;
    .mb(10px);
    .clearfix;
    .pr;
}
.m-plugins-title {
    font-weight: 300;
    font-size: 32px;
    i{
        .mr(10px);
    }
    .fl;
    margin:0;
}

.m-plugins-list{
    .u-default-banner{
        .h(60%) !important;
        .mt(10%);
    }
    .u-banner{
        padding:0;
        background-color:#eee;
    }

    .u-desc{
        .mr(150px);
    }
}

@media screen and (max-width:@phone){
    .m-plugins-list{
        .u-desc{.none !important;}
    }
}

