.m-plugins-title {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 32px;
    border-bottom: 1px solid @border-hr;
    padding-bottom: 10px;

    i{
        .mr(10px);
    }
}

.m-plugins-list{
    .u-default-banner{
        .h(60%) !important;
        .mt(10%);
    }
    .u-banner{
        padding:0;
        background-color:#eee;
    }

    .u-desc{
        .mr(150px);
    }
}

@media screen and (max-width:@phone){
    .m-plugins-list{
        .u-desc{.none !important;}
    }
}

